
    body {
        background-color: #f8f9fa;
    }

    .container {
        margin-top: 50px;
        display: flex;
        justify-content: left;
    }

    .user_info {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .user_info img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .user_info h4 {
        margin: 0;
    }

    .user_info p {
        margin: 0;
    }

    .user_info .icons {
        margin-left: auto;
    }

    .user_info .icons i {
        margin-right: 5px;
    }

    /* messages list section */

    .messages_list {
        margin-top: 20px;
    }

    .messages_list .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .messages_list .heading h4 {
        margin: 0;
    }

    .messages_list .heading i {
        margin-right: 7px;
    }

    .messages_pool {
        height: 400px;
        overflow-y: scroll;
    }

    .messages_cont {
        display: flex;
        align-items: center;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

    .messages_card {
        width: 100%;
        padding: 10px;
        border-radius: 10px;
        background-color: #007bff;
        color: #fff;
        margin-bottom: 5px;
    }

    .messages_cont img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
    }

    .message_card{
        display: flex;
        align-items: center;
    }

    .messages_cont h4 {
        margin: 0;
    }

    .messages_cont p {
        margin: 0;
    }

    /* chatarea section */


    .chat_area .heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .chat_header .user_info {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #ccc;
    }

